<md-bottom-sheet class="md-list md-has-header" ng-cloak>
  <md-content layout-padding>
        <form name="registerForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Name</label>
              <input ng-model="participant.name" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input ng-model="participant.email" name="email" type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@smartdatainc.net$/" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Branch Location</label>
                <md-select ng-model="participant.location" required>
                  <md-option ng-repeat="loc in brloc" value="{{loc.id}}">
                    {{loc.name}}
                  </md-option>
                </md-select>
            </md-input-container>
          </div>
		  <div layout-gt-sm="row">
        <md-input-container class="md-block" flex="30" flex-gt-sm="30">
          <label>Performance Type</label>
          <md-select ng-model="participant.activity" required>
            <md-option ng-repeat="act in activities" value="{{act.id}}">
              {{act.name}}
            </md-option>
          </md-select>
        </md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>What do you like to perform ?</label>
					<input md-maxlength="100" required name="description" ng-model="participant.description">
					<div ng-messages="registerForm.description.$error">
					  <div ng-message="required">This is required.</div>
					  <div ng-message="md-maxlength">The description has to be less than 100 characters long.</div>
					</div>
				</md-input-container>
		  </div>
         <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
            <!--<input type="hidden" ng-model="participant.status" name="status" ng-value="2" />--><!-- It' not working -->
            <md-button class="md-primary md-raised" ng-click="showUserConfirm($event)" ng-disabled="registerForm.$invalid">
              Consider Me Please
            </md-button>
          </div>
          <p layout="row" layout-align="center center">
            Note: Please use <code class="warn">&nbsp;comma separated&nbsp;</code> values under <code class="warn">&nbsp;name&nbsp;</code> for group performance.
          </p>
          <p layout="row" layout-align="center center">
            Only smartData valid emailid's are allowed. For Ex: <code class="warn">ex@smartdatainc.net</code>
          </p>
        </form>
  </md-content>
</md-bottom-sheet>