<div class="tabsdemoDynamicTabs">
<md-content class="md-padding">
    <md-tabs class="md-hue-2" md-dynamic-height md-border-bottom>
      <md-tab label="Individual">
        <div class="demo-tab" style="padding: 25px;">
            <h3>Singing</h3> 
            1. Duration of performance will be 3-4 minutes.<br />
            2. Judgement will be based on the qualities like voice, Taal, Raga and general impression.<br />
            3. The decision of judges will be final and binding.<br /><br />
            <md-divider></md-divider>
            <h3>Dancing</h3>
            1. Duration of performance will be 3-4 minute.<br />
            2. Exceeding time limit shall lead to disqualification.<br />
            3. Participant are required to provide the audio CD of the track in .mp3 format to the event organisers at least two hour before the start of the event.<br />
            4. Fusion includes all types of songs.<br />
            5. Judgement will be based on the qualities like rhythm, quality, costumes, use of props and general impression.<br />
            6. The decision of judges will be final and binding.<br />
        </div>
      </md-tab>
      <md-tab label="Group">
        <div class="demo-tab" style="padding: 25px;">
          <h3>Skit</h3> 
          1. Duration of performance will be 6-7 minutes.<br />
          2. Max number of participants allowed are 5.<br />
          3. Background music is allowed.<br />
          4. Only good and satire humour is expected, vulgarity and use of personal remarks should be avoided.<br />
          5. Theme of skit must be clear.<br />
          6. Judgement will be based on the qualities like theme, humour, stage craft, work on acting and general impression.<br />
          7. The decision of judges will be final and binding.<br /><br />
          <md-divider></md-divider>
          <h3>Mime</h3>
          1. Duration of performance will be 4-5 minutes.<br />
          2. Max number of participants allowed are 5.<br />
          3. Background recorded music is allowed.<br />
          4. Judgement will be based on the qualities like voices produced, humour, presentation and general impression.<br />
          6. The decision of judges will be final and binding.<br />
        </div>
      </md-tab>
      <md-tab label="Regional">
        <div class="demo-tab" style="padding: 25px;">
          <h3>Bhangra</h3> 
          1. Duration of performance will be 5-6 minutes.<br />
          2. Maximum number of participants in a team is 6.<br />
          3. Time will be counted from the first beat of the Dhol.<br />
          4. Participant are required to provide the audio CD of the track in .mp3 format to the event organisers at least two hour before the start of the event.<br />
          5. Judgement will be based on the qualities like Coordination , use of props , boliyans used and general impression.<br />
          6. The decision of judges will be final and binding.<br />
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>