<div ng-controller="WhatshotCtrl as whctrl" ng-cloak>
<!--
Ref Link : https://www.script-tutorials.com/photo-gallery-with-angularjs-and-css3/
http://plnkr.co/edit/kTSQuJfi5OmOSw6cU06x?p=preview
https://scotch.io/tutorials/animating-angular-apps-ngshow-and-nghide
https://github.com/Rademade/angular-cycle-gallery
-->
  <md-content class="md-padding dashboard-top" >
        <div layout="column" layout-gt-xs="row" >
            <md-card class="events-card" flex flex-gt-xs="30">
                <md-card-title>
          <md-card-title-text>
          <span class="md-headline">Nagpur</span>
          <span class="md-subhead">Photos & Videos (Last Uploaded: 30th-June-16)</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="photosnvideos.viewpics({location: 'Nagpur',forEvent: 'auditions'})" class="md-raised md-secondary">
              Auditions
            </md-button>
            <md-button ui-sref="photosnvideos.viewpics({location: 'Nagpur',forEvent: 'semifinals'})" class="md-raised md-secondary">
              Semifinals
            </md-button>
            <md-button ng-disabled="true" ui-sref="photosnvideos.viewpics({location: 'Nagpur',forEvent: 'finals'})" class="md-raised md-secondary">
              Finals
            </md-button>
          </md-card-actions>
            </md-card>
            <md-card class="events-card" flex flex-gt-xs="30">
                <md-card-title>
          <md-card-title-text>
          <span class="md-headline">Mohali</span>
          <span class="md-subhead">Photos & Videos (Last Uploaded: 20th-July-16)</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-disabled="true" ui-sref="photosnvideos.viewpics({location: 'Mohali',forEvent: 'auditions'})" class="md-raised md-secondary">
              Auditions
            </md-button>
            <md-button ng-disabled="true" ui-sref="photosnvideos.viewpics({location: 'Mohali',forEvent: 'semifinals'})" class="md-raised md-secondary">
              Semifinals
            </md-button>
            <md-button ui-sref="photosnvideos.viewpics({location: 'Mohali',forEvent: 'finals'})" class="md-raised md-secondary">
              Finals
            </md-button>
          </md-card-actions>
            </md-card>
      <md-card class="events-card" flex flex-gt-xs="30">
                <md-card-title>
          <md-card-title-text>
          <span class="md-headline">Dehradun</span>
          <span class="md-subhead">Photos & Videos (Last Uploaded: 20th-July-16)</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-disabled="true" ui-sref="photosnvideos.viewpics({location: 'Dehradun',forEvent: 'auditions'})" class="md-raised md-secondary">
              Auditions
            </md-button>
            <md-button ng-disabled="true" ui-sref="photosnvideos.viewpics({location: 'Dehradun',forEvent: 'semifinals'})" class="md-raised md-secondary">
              Semifinals
            </md-button>
            <md-button ui-sref="photosnvideos.viewpics({location: 'Dehradun',forEvent: 'finals'})" class="md-raised md-secondary">
              Finals
            </md-button>
          </md-card-actions>
            </md-card>
        </div>
    </md-content>

    <!-- For Content :Start -->
      <div ui-view>
        <md-content class="md-padding">
            <div layout="column" layout-align="center center">
              <div flex>
                  <img alt="smartData Cultural League" src="img/front.jpg">
              </div>
            </div>
        </md-content>
      </div>
    <!-- For Content :End -->
</div>