   <md-content layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div></div>
        <span flex></span>
        <div>
          <!--<md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/dashboard.svg"></md-icon>
          </md-button>-->
          <span flex></span>
          <md-button class="md-icon-button" aria-label="More" ng-click="logout();">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>
  </md-content>  

  <!-- For Content :Start -->
  <div ui-view></div>
  <!-- For Content :End -->