   <md-content layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div>
			<md-button ng-click="goToState('admin.dashboard');" class="md-icon-button" aria-label="Dashboard">
				<md-icon md-svg-icon="img/icons/ic_dashboard_24px.svg"></md-icon>
			</md-button>
		</div>
        <span flex></span>
        <div>
          <span flex></span>
			<md-menu>
				<md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
					<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
				</md-button>
				<md-menu-content width="2">
				<md-menu-item>
					<md-button ng-click="logout();">Logout</md-button>
				</md-menu-item>
			  </md-menu-content>
			</md-menu>
        </div>
      </div>
    </md-toolbar>
  </md-content>  

  <!-- For Content :Start -->
  <div ui-view></div>
  <!-- For Content :End -->