<!doctype html>
<html lang="en" ng-app="SclApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="app/css/ngMaterial/v1.1.0-rc.5/angular-material.min.css">
  <!-- Custom Fonts -->
  <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">-->
  <!-- Application CSS -->
  <link rel="stylesheet" href="app/css/styles.css">
</head>

<body>
  <!-- Application Content : Start -->
  <div ng-cloak ng-controller="AppCtrl as mainCtrl">
  <md-content layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>smartData Cultural League</span>
        </h2>
        <span flex></span>
        <div>
          <md-button aria-label="label" class="md-icon-button" ng-click="register()">
            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
            <md-tooltip>Wildcard Entry</md-tooltip>
          </md-button>
          <md-button aria-label="label" class="md-icon-button">
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <md-tooltip>Notification</md-tooltip>
          </md-button>
          <md-button aria-label="label" class="md-icon-button" ng-click="openAdmin()">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
            <md-tooltip>Admin Login</md-tooltip>
          </md-button>
        </div>
      </div>
    </md-toolbar>
    </md-content>
	<!-- For status messages -->
    <div layout="column" class="md-padding">
          <div ng-if="status" id="status">
            <b layout="row" layout-align="center center" class="md-padding">
              {{status}}
            </b>
          </div>
    </div>

	<div ui-view></div>
	
<!-- footer Start -->
<div layout-align="center center" flex="noshrink" layout="row">
  <div id="license-footer" flex>
    Powered by  <a class="md-default-theme md-accent" target="_blank" href="http://smartdatainc.net">smartData Inc.</a> &copy;2015&ndash;2016
  </div>
</div>
<!-- Footer End -->
</div>
  <!-- Application Content : End -->
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="app/js/angularJs/1.5.5/angular.min.js"></script>
  <script src="app/js/angularJs/1.5.5/angular-animate.min.js"></script>
  <script src="app/js/angularJs/1.5.5/angular-aria.min.js"></script>
<!--<script src="../app/js/angularJs/1.5.5/angular-route.min.js"></script>-->
  <!-- We are not using ui-router -->
  <script src="app/js/angularJs/v0.2.18/angular-ui-router.js"></script>
  <script src="app/js/angularJs/1.5.5/angular-messages.min.js"></script>
  <script src="app/js/angularJs/s.cdpn.io/t-114/svg-assets-cache.js"></script>

  <!-- Angular Material Library -->
  <script src="app/js/angularJs/v1.1.0-rc.5/angular-material.min.js"></script>
  
  <!-- Application bootstrap  -->
  <script src="app/js/main.js"></script>
  <script src="app/js/data.js"></script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->