body {
  width:100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color: #DCDCC1;
}

md-toolbar.frontend-toolbar {
  background-color: #333333;
}

md-content.dashboard-top, md-content.dashboard-bottom, md-content.notification-dashboard, md-content.peoplechoiceawarddashboard {
  background-color: #DCDCC1;
}

md-dialog.loginDialog md-toolbar {
  background-color: #D92029;
}

.md-button.sdButton {
  background-color: #D92029;
  color: #FFFFFF;
}

.md-button.sdButton:hover:not([disabled]) {
  background-color: #861419;
}

code.warn {
  background-color: #fffcc2;
}
code.notification {
  background-color: #8BC34A;
}

/*md-content.md-default-theme, md-content {
  background-color: rgba(163, 160, 160, 0.45);
}*/

md-chips .md-chips {
	box-shadow: none;
	font-size: 15px;
}
.md-chips md-chip {
	background-color: #8BC34A;
}

md-card.events-card {
  background-color: #D92029;
}

md-card > h2 {
  padding-left : 15px;
}

md-card.events-card >md-card-title>md-card-title-text {
	color:#ffffff;
}

md-card.info-card {
	margin-top:0px;
}

md-card.info-card md-card-header{
	padding: 4px;
	background-color: #d92029;
}
md-card.info-card md-card-header md-card-header-text{
	color: #ffffff;
}
md-card.info-card md-card-header md-card-header-text .md-title{
	font-size: 14px;
	padding: 12px;
	font-weight: 500;
	text-transform: uppercase;
}
.contact-box  {
	border: 1px solid #333333;
}
md-toolbar.contact-toolbar {
	background-color: #D92029;
	color: #ffffff;
}
.note {
  width: 100%;
  box-sizing:border-box;
  background-color: rgba(204, 2, 5, 0.31);
}

p.good {
  line-height: 30px;
  padding-left: 10px;
  margin: 10px;
    box-sizing:border-box;  
    background-color: rgba(0, 128, 0, 0.31);  
}

p.warn {
  line-height: 30px;
  padding-left: 10px;
  margin: 10px;
    box-sizing:border-box;  
    background-color: rgba(204, 2, 5, 0.31);
}

/*For Tabs*/
/*.tabsdemoDynamicTabs md-content {
  background-color: transparent !important; }*/
  .tabsdemoDynamicTabs{
	margin: 0px 8px;
   }
  .tabsdemoDynamicTabs md-tabs, .notificationDynamicTabs md-tabs{
    border: 1px solid #D92029; }
    .tabsdemoDynamicTabs md-tabs md-tab-content, .notificationDynamicTabs md-tabs md-tab-content {
      background: #f6f6f6; }
    /*.tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
      background: white; }*/
    .tabsdemoDynamicTabs md-tabs md-tabs-wrapper, .notificationDynamicTabs md-tabs md-tabs-wrapper  {
      background: #D92029; } 
    .tabsdemoDynamicTabs md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item,
	.notificationDynamicTabs md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
      color: #ffffff; }
    .tabsdemoDynamicTabs md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active,
	.notificationDynamicTabs md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active {
		background-color: #861419;
		color: #ffffff;
	}

  .tabsdemoDynamicTabs h1:first-child {
    margin-top: 0; }
.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }
.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }
.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }
/*.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }*/
.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }
.tabsdemoDynamicTabs label {
  text-align: left; }
.tabsdemoDynamicTabs .long > input {
  width: 264px; }
.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }
  
.notificationDynamicTabs md-tab-content {
  padding: 25px; }

div#status {
  color: #c60008; }

#license-footer {
    align-self: flex-end;
    border-top: 1px solid #ddd;
    font-size: small;
    padding: 16px 32px;
    text-align: center;
    width: 100%;
    background-color:#DCDCC1;
}
/*Admin Styling*/
md-content.admin-dashboard .list{
  border-left: 1px solid #283593;
  border-right: 1px solid #283593;
  border-bottom: 1px solid #283593;
}