<div ng-controller="LoginCtrl as loginCtrl">
    <md-content class="md-padding">
      <div layout="row" layout-align="center center" layout-gt-xs="row" >
        <md-card flex="35">
          <form name="loginForm" ng-submit="loginCtrl.submit(email, password)">
          <md-card-title>
            <md-card-title-text layout-align="center center">
            <span class="md-headline">Management Login</span>
            <!--<span class="md-subhead">Login</span>-->
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout-align="center space-around">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Username</label>
              <input ng-model="email" type="text" required md-autofocus/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input ng-model="password" required/>
            </md-input-container>
          </md-card-content>
          <md-card-actions layout="column" layout-align="start">
            <md-button class="md-raised md-primary" type="submit">Login</md-button>
          </md-card-actions>
          </form>
        </md-card>
      </div>
      <!--<md-button ng-click="loginCtrl.cancel()">Cancel</md-button>-->
    </md-content>
</div>