<md-dialog aria-label="Participant Information" ng-cloak ng-init="getParticipantInfo();">
  <form>
    <!--<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Participant {{participant.participant_name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>-->
    <md-dialog-content>
      <div class="md-dialog-content">
        <p><b>Name: </b>{{participant.participant_name}}</p>
        <p>
          <b>Location: </b>{{participant.location}}<br />
          <b>Email: </b>{{participant.email}}<br />
          <b>Status: </b>{{participant.status}}<br />
          <md-chips>
              <md-chip>
                {{participant.vc > 0 ? participant.vc : 'No'}} Likes <md-icon md-svg-icon="img/icons/ic_thumb_up_24px.svg" style="color: green;"></md-icon>
              </md-chip>
          </md-chips><br />
          <b>Group: </b>{{participant.group_name}}<br />
          <span ng-if=participant.description>{{participant.description}}</span>
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>